<!-- gear -->
  <section class="page-section" id="{{ site.data.sitetext[site.locale].gear.section | default: "gear" }}">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].gear.title | default: "gear" }}</h2>
          {% if site.data.sitetext[site.locale].gear.text %}
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].gear.text }}</h3>
		  {% endif %}
        </div>
      </div>

      <div class="row text-center">
	  {% for service in site.data.sitetext[site.locale].gear.list %}
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <img class="rounded-circle img-fluid" src="{{ service.image }}">
          </span>
          <h4 class="service-heading">{{ service.title | markdownify }}</h4>
          {% if service.desc %}<div class="text-muted">{{ service.desc | markdownify }}</div>{% endif %}
        </div>
	  {% endfor %}
      </div>

    </div>
  </section>
<!-- End gear -->
